# Requirements for the ACTRIS Jupyter Hub environment. This file is used to specify the Python packages and their versions that are required for the Jupyter Hub environment to function properly. The packages listed here will be installed when setting up the environment.
ipywidgets
matplotlib
netCDF4
numpy
pandas
plotly
pymannkendall
requests
threddsclient
tqdm
xarray
cartopy
basemap>=2.0.0; python_version < "3.14"